
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Kumb Sans', sans-serif;
    transition: all 0.5s ease;  
}

:root{
    --primary-color:#f8abab;
    --secondary-color:#921A40;
    --image-url: url("img3.svg");
}
.dark-theme{
    transition: all 0.5s ease-out;
    --primary-color:#844545;
    --secondary-color:#380c1a;
    --image-url: url("img4.svg") ;
    
    
}


.light-theme{
    transition: all 0.5s ease;
    --primary-color:#f8abab;
    --secondary-color:#921A40;
    --image-url: url("img3.svg");
}
#skibidi:hover{
    transform: translateY(-5px);
    transition: all 0.1s ease;
}
#title:hover{
    transform: translateY(-5px);
    transition: all 0.1s ease;
}
#progimage:hover{
    transform: scale(90%) rotate(5deg);
    transition: all 0.1s ease;
}
body{
    background-color: var(--primary-color);
}
.head__nav{
    height: 5rem;
    box-sizing:border-box;
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}
.head__nav.night{
    background-color: #380c1a;
    transition-duration: 0.2s;
}.head__nav.day{
    background-color: var(--secondary-color);
    transition-duration: 0.2s;
}
#skibidi{
    margin-left: 2rem;
    font-size: 2rem;
    background-image: linear-gradient(to top,#F5EDED 0%,#cdb1a3 100% );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#outer-border{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    width: 5em;
    height: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #F5EDED;
    background-color: #ddb8b8;
    cursor:pointer;
}

#outer-border.night{
    border-color: #fdc9c9;
    background-color: #af7373;
    transition-duration: 0.2s;
}
#outer-border.day{
    border-color: #F5EDED;
    background-color: #ddb8b8;
    transition-duration: 0.2s;
}
#circle{
    margin-right: 1rem;
    margin-left:2px ;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 1rem;
    background-size: 100%;
    background-image: url("imgs/img1.png");
    
}
#circle.isactive{
    transform: translateX(45px);
    transition: all 0.5s ease;
    background-image: url("imgs/img2.png");
}
#circle.inactive{
    transform: translateX(0px);
    transition: all 0.5s ease;
    background-image: url("imgs/img1.png");
}
/*MAIN SECTION*/
main{
    height: 800px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}

#progimage{
    width: 500px;
    display: block;
    content: var(--image-url);
}

#title{
    font-size: 4rem;
    background-image: linear-gradient(to top,#F5EDED 0%,#cdb1a3 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
#main__name{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__desc{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight:700;
    background-image: linear-gradient(to top,#F5EDED 0%,#cdb1a3 100% );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: transform .5s ease-in-out;
    
}
.main__desc:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    animation: bounce 0.5s infinite;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.main__divtit{
    padding: 30px;
    margin: 125px 125px;
    background-color: #3f0a0a;
    box-shadow: 10px 10px 3px black;
}
#progimage{
    margin:3rem;
    max-width: 550px;
}
.main2__div{
    padding: 15px;
    background-color: var(--secondary-color);
    width: 95%;
    height: 700px;
}
footer{
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
    height: 300px;

}
#fot{

    padding: 20px;
}

@media screen and (max-width:1352px) {
    .head__nav{
        height: 5rem;
        box-sizing:border-box;
        justify-self: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
    }
    main{
        height: 1100px;
        display: flex;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #progimage{
        margin: 0 3rem;
        max-width: 550px;
        width: 400px;
    }
    .main__divtit{
        padding: 30px;
        margin: 125px 0px;
        background-color: #3f0a0a;
        box-shadow: 10px 10px 3px black;
    }
}
@media screen and (max-width:920px) {

    .head__nav{
        height: 5rem;
        box-sizing:border-box;
        justify-self: center;
        border:none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: auto;
        background-color: var(--secondary-color);
    }
    main{
        height: 1100px;
        display: flex;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        min-width: auto;
        
    }
    #progimage{
        position: absolute;
        scale: 500%;
        z-index: 0;
        margin: 0 0;
        max-width: 100px;
        width: 200px;
        filter: blur(1px);
        opacity: 50%;

    }

    #title{
        font-size:2rem ;
    }
    #main__name{
        font-size:2rem ;
    }
    .main__divtit{
        padding: 30px;
        margin: 0 0px;
        background-color: #3f0a0a;
        box-shadow: 10px 10px 3px black;
    }
    #skibidi{
        font-size: 1rem;
    }
    footer{
        
        height: 500px;
    }
    #fot{
        font-size: medium;
    }
    div{
        z-index: 1;
    }
    .main__div{
        z-index: 999;
    }
}
@media screen and (max-width:600px) {

    .head__nav{
        height: 5rem;
        box-sizing:border-box;
        justify-self: center;
        border:none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: auto;
        background-color: var(--secondary-color);
    }
    main{
        height: 1100px;
        display: flex;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        min-width: auto;
        
    }
    #progimage{
        position: absolute;
        scale: 500%;
        z-index: 0;
        margin: 0 0;
        max-width: 60px;
        width: 200px;
        filter: blur(1px);
        opacity: 50%;
        overflow-x: hidden;

    }

    #title{
        font-size:2rem ;
    }
    #main__name{
        font-size:2rem ;
    }
    .main__divtit{
        padding: 30px;
        margin: 0 0px;
        background-color: #3f0a0a;
        box-shadow: 10px 10px 3px black;
    }
    #skibidi{
        font-size: 1rem;
    }
    footer{
        
        height: 500px;
    }
    #fot{
        font-size: medium;
    }
    div{
        z-index: 1;
    }
    .main__div{
        z-index: 999;
    }
}
@media screen and (max-width:370px) {

    .head__nav{
        height: 5rem;
        box-sizing:border-box;
        justify-self: center;
        border:none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: auto;
        background-color: var(--secondary-color);
    }
    main{
        height: 1100px;
        display: flex;
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        min-width: auto;
        
    }
    #progimage{
        position: absolute;
        scale: 500%;
        z-index: 0;
        margin: 0 0;
        max-width: 30px;
        width: 200px;
        filter: blur(1px);
        opacity: 50%;
        overflow-x: hidden;

    }
    .main__imagecontainer{
        max-width: 100%;
    }

    #title{
        font-size:2rem ;
    }
    #main__name{
        font-size:2rem ;
    }
    .main__divtit{
        padding: 30px;
        margin: 0 0px;
        background-color: #3f0a0a;
        box-shadow: 10px 10px 3px black;
    }
    #skibidi{
        font-size: 1rem;
    }
    footer{
        
        height: 500px;
    }
    #fot{
        font-size: medium;
    }
    div{
        z-index: 1;
    }
    .main__div{
        z-index: 999;
    }
}
